.imageblock {
    width: 280px;
    margin-right: 33px;
    float: left;
    text-align: center;
    margin-bottom: 25px;
    height: 300px;
    border-radius: 4px;
    cursor: pointer;
}

.imageblock:hover{
	box-shadow: 0px 0px 7px #928f8f;
}

.imageblock img{
width:100%;
}

.imageblock.lastworks {
	margin-bottom:0;
}

.nav a{
	text-transform: uppercase;
}

.afterpicture {
    padding: 10px 20px;
}

#singlepost img{
	max-width:100%;
}

.circle1 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: black;
    position: absolute;
    margin: 10px 860px;
}

.circle2 {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: black;
    position: absolute;
    margin: 270px -125px;
}

.circle3 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: black;
    position: fixed;
    bottom: -100px;
    right: -100px;
}

article#special-page {
    background: white;
    padding: 3px 20px;
    margin: 10px 0px;
    min-height: 500px;
}

.project-list{
    padding: 20px 0px;
}

.project-list ul {
    padding: 10px 30px;
}
.project-list ul li {
    list-style-type: decimal;
}

.afterpicture.sale.lebel {
    background: #b31717;
    color: white;
}

.baner {
    padding: 20px;
    background: #e8e5d6;
    margin-bottom: 21px;
    text-align: center;
}

a.btn-black {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 27px;
    text-transform: uppercase;
}

a.btn-light {
    background: #e8e5d6;
    color: #000;
    padding: 10px 20px;
    border-radius: 27px;
    text-transform: uppercase;
}

.slide-caption {
 background: rgba(0, 0, 0, 0.5);
    padding: 0px 30px 30px 30px;
    bottom: 0px;
    position: absolute;
    width: 94%;
    color: white;
    text-align: center;
}

span.btn-fotorama-fullscreen {
    display: block;
    padding: 6px 0px;
    border: 1px solid #272626;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    width: 300px;
    border-radius: 31px;
}

span.btn-fotorama-fullscreen:hover {
    background: #272626;
    color:white;
}