#SnapABug_Button{
	top: 197px !important;
	/*
	background-image: url(/images/snapengage/brabbu-chat-online-new.png);
	background-repeat: repeat-x;
	width: 43px;
	height: 204px;
	*/
}

#SnapABug_Button img{
	/* display: none!important; */
}

#side-ready-to-ship {
	width: 72px;
	right: 0;
	bottom: 125px;
	z-index: 2147000000;
	position: fixed;
	margin-right: 12px;
}
.close-div {
	width: 20px;
	height: 20px;
	right: -6px;
	top: -12px;
	position: absolute;
	display: block;
}
.close-div img {
	width: 70%;
	height: 70%;
}